.introtext {
  text-align: right;
  font-size: 3rem;
  margin-top: 9rem;
  margin-bottom: 1rem;
  margin-right: 14vw;
  font-family: 'spacemono', sans-serif;
}

.aboutContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 2rem 0;
  gap: 10vw;
}

.portrait {
  width: 20rem;          
  height: 25rem;         
  object-fit: cover;     
  margin-left: 3rem;
  margin-right: 1rem;
  display: block;
  border-style: solid;
  border-radius: 10px;
  border-width: 3px;
}

.aboutText {
  font-family: 'spacemono';
  font-size: 1.3rem;
  width: 60%;          
  min-height: 8rem;
  margin-left: 4rem;
  margin-right: 2rem;
  display: flex;
  align-items: center;
}
 