
@font-face {
  font-family: 'spacemono';
  src: url(/css/fonts/SpaceMono-Regular.ttf) format('truetype');
}

.projektLink {
  text-decoration: none;
  font-size: 2rem;
  margin-left: 50%;
  font-family: 'spacemono', sans-serif;
}

.introtext {
  text-align: right;
  font-size: 3rem;
  margin-right: 11vw; 
  margin-top: 10rem;
  margin-bottom: 3rem;
  margin-right: 22rem;
  font-family: 'spacemono', sans-serif;
}
 
.row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 2rem 0;
}

.image {
  width: 35rem;          
  height: 20rem;         
  object-fit: cover;     
  margin-left: 2rem;
  margin-right: 2rem;
  display: block;
  border-radius: 8px;
  border: #ffffff 4px solid;
}

.projectText {
  font-family: 'spacemono';
  font-size: 1.7rem;
  width: 40vw;          
  min-height: 8rem;
  margin-left: 20rem;
  margin-right: 2rem;
  display: flex;
  align-items: center;
}
